body{
	margin-left: 50px;
}

h1{
	margin-top: 10px;
	font-family: Georgia;
	font-size: 43px;
}

/*@font-face {
font-family: nombre de la fuente;
src: url(url de la fuente);
} ver lo de la fuente del título*/

#navegacion{
	margin-bottom: 5px;
}

header{
	margin-left: 150px;
}

.epigrafe{

}

#date{
	color: grey;
	padding-top: 25px;
	padding-bottom: 20px;
	font-size: 15px;
	font-family: arial;
	margin-left: 15px;

}
#texto{
	width:740px;
	margin-left: 15px;

}
#linkMasInfo{
	color:#0080FF;
}

.epigrafe{
	margin-left: 18px;
	font-size: 17px;
	font-family: arial;
	width: 740px;
}

p{
	font-size: 19px;
	font-family: Georgia;
}

.navItem{
	text-decoration: none;
	color:#0080FF;
	font-family: Arial;

}

.letraCapital{
	float:left;
   color:black;
   background:white;
   font-size:70px;
   padding:2px;
   font-family:Arial;
   margin-right: 5px;
   line-height:60px;
   font-weight: bold;

}