.Detalle{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 70%;
	margin:auto;
	padding: 3em;
}

.RowProducto{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}

.InfoLateral{
	display: flex;
	width: 40%;
	flex-direction: column;
}

.CondicionVendidos{
	display: flex;
	margin-bottom: 0.7em;
	font-size: 0.85em;
	color: gray;
}

.Detalle .Titulo p{
	font-size: 1.1em;
	font-weight: bold;
	color: black;

}

.Descripcion{
	width: 100%;
	text-align: justify;
}

.Descripcion p{
	font-size: 12px;
	color: gray;
}

.Descripcion .Titulo{
	margin-bottom: 0.5em; 
	color: #404040;
	font-weight: bold;
	font-size: 1.1em;
}

.Detalle .Precio p{
	font-size: 1.5em;
}

.ContenedorDetalle .Imagen{
	width: 330px;
	height: 330px;
}

.ContenedorDetalle .Boton{
	padding: 1em;
	color: #4F2D83;
	font-weight: bold;
	background-color: #F78E1E;
	border-radius: 4px;
	margin-top: 1.5em;
	text-decoration: none;
}